body {
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 5rem;
}

/* Navbar */
.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}

.main-heading {
    margin: 45vh auto;
    height: 100%;
}

/* Background Image 1 Parralax Effect*/
.bgimg1 {
    background-color: #0d7377;
}
/* Misc */
/*
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
*/
/* 
    Colour Scheme 
    #212121
    #323232
    #0d7377
    #14ffec
*/