/* Just changing some default settings */
body {
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-weight: bold;
}

/* Hiding Scrollbars from various browsers */
/* This one is for Chrome */
html::-webkit-scrollbar { 
    display: none;
  }

html {
scroll-behavior: smooth;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* The changed Horizontal Rule  */
.uniqueHR {
    border-top: 50px dotted #14ffec;
    background-color: #212121;
    width: 30%;
    margin: 0 auto;
}

/* Navbar */
.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}

ul.navbar-nav a:hover {
    color: #0d7377 !important;
    font-size: 1.25rem;
}

.main-heading {
    margin: 45vh auto;
    height: 100%;
}

/* Background Image 1 Parralax Effect*/
.bgimg1 {
    background-image: url("/images/Render1.jpg");
    min-height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background Image 2 Parralax Effect*/
.bgimg2 {
background-image: url("/images/Render2.jpg");
min-height: 1200px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/* About */
.main-about {
    height: 100%;
    margin: 0 auto 25vh auto;
    padding: 3rem 0;
}

.main-about .container{
    text-align: end;
    position: relative;
    top: 5rem;
    max-width: 75%;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #323232;
    border-radius: .3rem;

}

.main-about h2{
    text-align: end;
    margin: 0 2.5rem;
}

.main-about p {
    text-align: end;
    margin: 2.5rem 2.5rem;
    justify-content: space-evenly;
    font-size: larger;
}

.imgFace {
    /* filter: saturate(0%);  Used to be completely black and white but then I thought it was very bland so I changed it a bit*/
    padding: 2.5rem;
    float: left;
}

/* Education Timeline */
/* Used this tutorial https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline */

.main-education .container,
.main-contact .container {
    position: relative;
    top: 5rem;
    max-width: 75%;
    margin-bottom: 10rem;
}

.main-education h2{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* The height of the ruler */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* The vertical ruler */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    top: 7rem;
}

.timeline-container {
    margin: 2rem 0;
    padding: 10px 40px;
    position: relative;
    background-color:#323232;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid #0d7377;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
/* Place the left containers to the left and the right containers to the right */
.tc-left {
    left: 0;
}

.tc-right {
    left: 50%;
}

.tc-right::after {
    left: -13px;
}

/* Media query - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure all circles are at the same spot */
    .tc-left::after, .tc-right::after {
    left: 8px;
    }
    
    /* Make all right containers behave like the left ones */
    .tc-right {
    left: 0%;
    }
}


/* Work Experience */
.main-experience {
    background-color:#0d7377;
    padding: 5rem 0;
}

.main-experience h2 {
    padding: 2rem 0;
}

.main-experience .container {
    max-width: 80%
}

.main-experience .container p{
    margin: 0 auto;
    width: 20rem;
    font-size: larger;
}

.list-group-item {
    background-color: #323232;
    padding: 1.5rem 0;
    margin: 1.5rem;
}

/* Skills and Software */

.skills-container {
    padding: 3rem 0;
    padding-bottom: 8rem;
    max-width: 80%;
}

.skills-container h2 {
    padding: 2rem 0;
}

.col-arch-heading,
.col-design-heading,
.col-webdev-heading {
    margin: 3rem 0;
}

.col-arch {
    background-color:#464646;  
}

.col-design {
    background-color: #3d3d3d;   
}

.col-webdev {
    background-color: #323232;
}

.fab {
    padding: 0.8rem;
}

.main-projects {
    background-color: #323232;
}

/* Projects section */

.projects-container h2 {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.projects-container {
    padding-bottom: 8rem;
    max-width: 75%;
}

.carousel-caption {
    background-color: rgba(50, 50, 50, 0.8);
    max-width: 50%;
    margin: 0 auto;
}


/* Contact Section */
.main-contact {
    background-color:#0d7377;
    padding: 3rem 0;
}

.contact-content {
    margin: 2rem 0;
}

.contact-container {
    background-color: #323232;
    width: 20%;
    padding: 1rem;
}

.contact-container h2{
    padding-top: 2rem;
}

@media screen and (max-width: 1400px) {
    .contact-container {
        width: 80%;
    }
}

.contact-container:hover {
    box-shadow: 5px 5px 5px #fff;
}


.contact-content h4{
    font-weight: bold;
}

.contact-content a {
    text-decoration: none;
    color: #fff;
}

.contact-content a:hover {
    text-decoration: none;
    color: #0d7377;
}

.bi-linkedin,
.bi-github {
    font-size: 3rem;
    margin: 0 1rem;

}

/* footer */
footer {
    margin: 2rem;
}

/* Misc */
/*
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
*/
/* 
    Colour Scheme 
    #212121
    #323232
    #0d7377
    #14ffec
*/